@{
    ViewData["Title"] = "My Golf Hobby";
}

<div class="text-center">
    <h1 class="display-4">Tanner's wonderful golf website about his most favorite hobby in the world!</h1>
    <p>
        One day when I was playing animal crossing all by my lonesome (It was during peak covid times), my friend called me and asked me if I wanted to golf with him.
    <p />
    <p>
        I played a total of 18 holes and my life was completely changed. Without even thinking about it, I went home and spent $300 on golf clubs.
    </p>
    <p>
        Now I play whenever I can. Am I good? Not at all. Do I still get mad at myself when I hit a bad shot? Absolutely. Such is the beauty of golf.
    </p>
    <br />
    <p>
        A picture of how I feel when I hit my 5th ball into someone's backyard
    </p>

    <!--Sumo suit picture-->
    <img src="~/img/IMG_9297.jpeg" style="width: 300px; height: auto;" alt="Me about to hit a ball into the water" />

    <br />
    <br />
    <br />

    <p>
        Me out on the course in my natural golfabitat
    </p>

    <!--Me actually golfing-->
    <img src="~/img/IMG_1461.jpeg" style="width: 300px; height: auto;" alt="Don't ask what this picture is" />

</div>
